@charset "utf-8";

@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Moirai+One&family=Sunflower:wght@300&display=swap');
/* font-family: 'Bagel Fat One'; */
@import url('https://fonts.googleapis.com/css2?family=Moirai+One&family=Sunflower:wght@300&display=swap');
/* font-family: 'Sunflower'; */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html, body {
    font-size: 62.35%;/* 10px */
}

body {
    line-height: 1;
    color: #333;
}

.mobile {
    display: none;
}

.mobile_visual {
    display: none;
}

.mobilever_btn {
    display: none;
}

.header {
    
    .header_top {
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e60012;
    }

    h1 img {
        height: 40px;
    }

    .gnb_pc {
        height: 50px;
        background-color: #000;
        position: relative;
        z-index: 99;
        header.on .gnb_pc {
            background-color: rgb(255, 255, 255);
        }
    }
    .gnb_pc .gnb {
        max-width: 1440px;
        margin: 0 auto;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .depth01 {
        display: flex;
        font-size: 2rem;
        font-family: 'Sunflower';
        font-weight: 600;
    }
    &::before {
    content: '';
    width: 100%;
    height: 300px;
    background-color: #dbdbdb;
    display: none;
    position: absolute;
    top:150px;
    left: 0;
    }
    .hover_img {
        height: 25px;
        vertical-align: middle;
        display: none;
    }
    .depth01:hover >a {
        color: #e60012;
    }

    .depth01:hover >a img {
        display: none;
    }

    .depth01:hover .hover_img{
        display: inline-block;
    }

    .depth01 a {
        display: block;
        color: #ffffff;
    }

    .depth01>a img {
        height: 25px;
        margin-right: 10px;
        vertical-align: middle;
    }
    .depth01 a span {
        vertical-align: middle;
    }
    .depth02 {
        max-width: 1440px;
        height: 100%;
        font-family: 'Pretendard-Regular';
        font-weight: normal;
        z-index: 999;
        display: none;
    }
    .depth02 li >a {
        width: 250px;
        text-align: center;
        padding-right: 50px;
        display: block;
    }
    .depth02 li >a img {
        height: 120px;
    }
    .depth02 .depth02_wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 300px;
        position: absolute;
        top:50px;
        left: 50%;
        transform: translate(-50%);
        background-color: #fff;
        border: 1px solid #333;
    }

    .thumb {
        padding: 10px;
    }
    .depth02 span {
        color: #333;
        display: block;
        text-align: center;
        padding: 5px;
    }

    .depth02 .title {
        color: #333;
        width: 100%;
        display: -webkit-box; /* 박스 방향 설정/ 말줄임표 쓸때만 사용 */
            -webkit-box-orient: vertical;/* 박스 방향 설정 : 수직 */
            -webkit-line-clamp: 1;/* 박스안에 보여주고자 하는 라인 수 : 숫자 */
            overflow: hidden;/* 나머지 텍스트 숨김처리 */
    }

    .title::after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: #333;
        position: absolute;
        top:250px;
        left: 0;
        display: block;
    }

    .depth02 .status {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        font-size: 1.1rem;
        color: #c5c5c5;
    }

    .depth02 .status span {
        display: block;
        color: #c5c5c5;
    }

    .depth02 .text {
        color: #333;
        margin-top: 10px;
    }
    .depth02 .depth02_bottom {
        width: 100%;
        position: absolute;
        bottom: 17px;
        left: 50%;
    }
    .depth02 .depth02_bottom a {
        display: block;
        font-size: 1.5rem;
        vertical-align: middle;
        color: #333;
    }
    .depth02 .depth02_bottom img {
        height: 15px;
        vertical-align: middle;
    }
}/* .header end */

/* main */
.main_visual  {
    position: relative;
    margin-bottom: 15rem;
    figure {
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .mySwiper {
        position: static;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin:0 10px;
        
    }

    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom: -103px;
    }

    .swiper-pagination-bullet {
        width: calc(100% / 5 - 20px);
        max-height: 200px;
        height: 10.41vw;
        border-radius: 15px;
        box-shadow: 5px 5px 5px #333;
        position: relative;
    }

    .swiper-pagination-bullet-active::before{
        display: none;
    }
    .swiper-pagination-bullet:first-child {
        background:url(../img/어나더코드_아이콘.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 1;
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            background-color: rgba(255 255 255 / 77%);
            position: absolute;
            top:0;
            left: 0;
            border-radius: 15px;
            overflow: hidden;
        }
    }

    .swiper-pagination-bullet:nth-child(2) {
        background: url(../img/스플래툰3_아이콘.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 1;
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            background-color: rgba(255 255 255 / 77%);
            position: absolute;
            top:0;
            left: 0;
            border-radius: 15px;
            overflow: hidden;
        }
    }
    .swiper-pagination-bullet:nth-child(3) {
        background: url(../img/슈퍼마리오브라더스원더.png);
        background-position: right;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 1;
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            background-color: rgba(255 255 255 / 77%);
            position: absolute;
            top:0;
            left: 0;
            border-radius: 15px;
            overflow: hidden;
        }
    }
    .swiper-pagination-bullet:nth-child(4) {
        background: url(../img/마리오vs동키콩.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 1;
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            background-color: rgba(255 255 255 / 77%);
            position: absolute;
            top:0;
            left: 0;
            border-radius: 15px;
            overflow: hidden;
        }
    }
    .swiper-pagination-bullet:nth-child(5) {
        background: url(../img/슈퍼마리오RPG_아이콘.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 1;
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            background-color: rgba(255 255 255 / 77%);
            position: absolute;
            top:0;
            left: 0;
            border-radius: 15px;
            overflow: hidden;
        }
    }
} /* .main end */

/* cont01 */

.cont01 {
    margin-top: 18rem;
    .outer {
        background-color: #e60012;
        height: 600px;
        .outer_logo{
            position: absolute;
            right: 0;
            img {
                width: 135px;
            }
        } 
        .inner {
            max-width: 1440px;
            margin: 0 auto;
    }
    .switch_wrap {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8rem;
        overflow: hidden;

        figure {

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 0.3s;
            }
        }
        a :hover img {
            transition: all 0.5s;
            transform-origin: center;
            transform: scale(1.1);
            filter: drop-shadow(4px 4px 4px rgba(255, 255, 255, 0.729)); 
        }
    }
        .switch_oled{
            order: 1;
            max-width: 350px;
            width: 27.3%;
            figure {
                max-height: 450px;
                height: 35.25vw;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .switch {
            max-width: 375px;
            width: 26.04%;
            figure{
                max-height: 180px;
                height: 12.5vw;
            }
        }
        .switch_lite {
            order: 2;
            max-width: 300px;
            width: 20.83%;
            figure {
                max-height: 130px;
                height: 10.5vw;
            }
        }
        .name {
            margin-top: 4rem;
            font-family: 'Sunflower';
            text-align: center;
            font-size: 2rem;
            color: #fff;
        }
    }
}/* .cont01 end */

/* main_banner */
.main_banner {
    .banner_wrap {
        max-width: 1920px;
        position: relative;
    }
    .main_bg {
        height: 102.8vw;
        position: relative;
        img {
            width: 100vw;
            height: 100%;
            object-fit: cover;
        }
    }
    .namida {
        max-width: 150px;
        width: 6.8%;
        height: 10.25vw;
        position: absolute;
        top: 21.5%;
        left: 21.5%;
        right: auto;
        bottom: auto;
        .active {
            opacity: 1;
            transform: translateY(0);
        }
        span {
            display: block;
            
        }
        img {
            object-position: top;
            width: 100%;
        }
        }
        .main_title {
        max-width: 690px;
        width: 47.91%;
        position: absolute;
        top:20rem;
        right: 3rem;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .main_btn {
        max-width: 600px;
        width: 35.4%;
        position: absolute;
        top:50%;
        right: 15%;
        transform: translateY(-50%);
        img {
            width:100%;
            height: 100%;
            object-fit: cover;
        }
        .first_hover {
            display: none;
        }

        .second_hover {
            display: none;
        }
    }
    .first_btn:hover .first_img  {
        display: none;
    }

    .first_btn:hover .first_hover {
        display: inline-block;
    }
    .second_btn:hover .second_img {
        display: none;
    }

    .second_btn:hover .second_hover {
        display: inline-block;
    }


    .main_btn a:first-child img {
        margin-bottom: 2rem;
    }

    .trial_btn {
        max-width: 280px;
        width: 19.58%;
        height: 16.23vw;
        position: absolute;
        bottom:13%;
        left: 35%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .frame_wrap {
        
    .main_frame {
        position: relative;
        max-width: 530px;
        width: 29.8%;
        height: 10.93vw;
        position: absolute;
        bottom: 13%;
        right: 15%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }   
    }

    .movie {
        /* max-width: 230px; */
/*         width: 13.02%;
        height: 10.41vw; */
        /* padding-top: 56.25%;
        position: relative; */
       /*  top:auto;
        left: auto;
        bottom: 2.3%;
        right: 15%; */
        max-width: 300px;
        width: 16.53%;
        height: 9.54vw;
        display: block;
        position: absolute;
        left: auto;
        top: 77.2%;
        right: 25.8%;
        bottom: auto;
        z-index: 1;
        span {
            display: block;
        }
        iframe {
            position: absolute;
            top: calc(50% - 1px);
            left: 50%;
            -o-object-fit: cover;
            object-fit: cover;
            transform: translate(-50%, -50%);
             width: 100%;
             height: calc(100% + 2px);
        }
    }
}
}/* .main_banner end */

.new_software {
    margin-top: 18rem;
    position: relative;
    .title_img {
        position: relative;
        max-width: 1000px;
        width: 67.72%;
        height: 7.9vw;
        img {
            width: 100%;
            height: 100%;
        }
        h2 {
            font-size: 12em;
            color: #FFF;
            font-family: 'Bagel Fat One';
            position: absolute;
            top:19%;
            left: 40%;
        }
    }
   
    .mario_img {
        max-width: 377px;
        width: 20%;
        height: 19.25vw;
        position: absolute;
        top:-6%;
        left: 0;
        z-index: 99;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: rotate(-30deg);
        }
    }
    
    .inner {
        max-width: 1440px;
        margin: 8rem auto;

        a span {
            display: flex;
            justify-content: flex-end;
            margin: 2rem;
            font-size: 1.8rem;
            font-family: 'Sunflower';
        }

        .list {
            font-family: 'Sunflower';
            color: #fff;
            .big_item {
                position: relative;
                width: 100%;
                height: 30.43vw;
                border: 10px solid #fff;
                box-shadow: 0 0 6px 5px #999;
                border-radius: 15px;
                overflow: hidden;
                padding: 2rem;
                figure {
                    height: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            .big_item::before {
                content: '';
                width: 100%;
                height: 40%;
                background: rgb(2,0,36);
                background: linear-gradient(362deg, rgb(2, 0, 36) 0%, rgba(0, 0, 0, 0.733) 35%, rgba(255, 255, 255, 0.336) 100%);
                display: block;
                position: absolute;
                bottom:0;
                left: 0;
            }
            .text_wrap {
                display: flex;
                gap: 3rem;
                position: absolute;
                bottom:4rem;
                right: 7rem;
            }
        }
        .main_text {
            h4 {
                font-size: 2.5rem;
                padding-bottom: 2.5rem;
                line-height: 1.5;
                height: 50px;
            }
        }
        .sub_wrap {
            display: flex;
            align-items: center;
            gap:2rem;
            .sub_text {
                display: flex;
                flex-direction: column;
                gap:0.5rem;
                span {
                    display: block;
                    font-size: 14px;
                    line-height: 15px;
                }
                strong {
                    display: block;
                    font-weight: normal;
                    font-size: 14px;
                }
                p {
                    font-size: 14px;
                }
            }
            .util_icon {
                width: 34px;
                img {
                    width: 100%;
                }
            }
        }
        .small_item {
            display: flex;
            justify-content: space-between;
            margin-top: 5rem;
            .item {
                width: calc(1440px / 6 - 20px);
                &:first-child img {
                    opacity: 1;
                }
                figure {
                    max-height: 130px;
                    height: 9.02vw;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        opacity: 0.3;
                    }

                }
                .main_text {
                    display: none;
                    h4 {
                        font-size: 1.6rem;
                    }
                }
                .sub_wrap {
                    display: none;
                }
            }
        }
    }/* .inner */
}/* .new_software end */

/* .sale_plan */

.sale_plan {
    margin-top: 18rem;
    .title_wrap {
        position: relative;
        display: flex;
        justify-content: flex-end;
    .title_img {
        max-width: 1000px;
        width: 67.72%;
        height: 7.9vw;
        img {
            width: 100%;
            height: 100%;
        }
    }
    h2 {
        font-size: 12em;
        color: #FFF;
        font-family: 'Bagel Fat One';
        position: absolute;
        top:19%;
        right:15%;
    }
}
.inner {
    max-width: 1440px;
    width: calc(100% - 30px);
    margin: 8rem auto;

    .list {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .item {
            /* width:510px */
            width: calc(1440px / 3 - 20px);
            position: relative;
            overflow: hidden;
            margin-top: 2rem;
            &::before {
                content: '';
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.479);
                position: absolute;
                bottom:-1px;
                left: 0;
                border-radius: 15px;
                overflow: hidden;
                transform: translateY(100%);
                transition: all 0.5s;
                z-index: 9;
            }
            figure {
                max-height: 290px;
                height: 20.13vw;
                border-radius: 15px;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .title_txt {
                margin-top: 1.4rem;
                position: absolute;
                bottom:0;
                left: 2rem;
                padding: 20px;
                color: #fff;
                transform: translateY(100%);
                overflow: hidden;
                z-index: 10;
                h4 {
                    font-size: 2rem;
                    font-weight: 700;
                    font-family: 'Sunflower';
                }
                .sub_txt_wrap {
                    margin-top: 2.5rem;
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    font-family: 'Sunflower';
                    font-size: 1.8rem;
                }
            }
        }
        .item:hover img {
            transform: scale(1.1);
            transition: all 0.5s;
        }
        .item:hover::before {
        
            transform: translateY(0);
            transition: all 1s;
        }
        .item:hover .title_txt {
            transform: translateY(0);
            transition: all 1s;
        }
    }
    .more_view {
        margin: 0 auto;
        display: flex;
        align-items: center;
        margin-top: 3rem;
        position: relative;
            img {
                width: 300px;
                vertical-align: middle;
            }
        .more_view_txt {
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: 'Sunflower';
            span {
                display: block;
                font-size: 2.5rem;
                color: #fff;
                vertical-align: middle;
                &::after {
                    content: url(../img/right_btn.png);
                    padding-left: 0.5rem;
                }
            }
        }
    }
}
}/* .sale_paln end */

/* popular_item */

.popular_item {
    margin-top: 18rem;
    .title_wrap {
        position: relative;
    .title_img {
        max-width: 1000px;
        width: 67.72%;
        height: 7.9vw;
        img {
            width: 100%;
            height: 100%;
        }
    }
    h2 {
        font-size: 12em;
        color: #FFF;
        font-family: 'Bagel Fat One';
        position: absolute;
        top:7%;
        left:22%;
    }
}
.inner {
    max-width: 1440px;
    margin: 8rem auto;

    .swiper {
        width: 90%;
        position: static;    
    }

    .swiper-pagination-bullets {
        display: none;
    }
    .swiper-slide {
        max-width: 350px;
        width: 24.30%;
        figure {
            max-height: 275px;
            height: 11.09vw;
            border-radius: 15px;
            overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        }
        .name {
            margin-top: 2rem;
            text-align: center;
            h3 {
                font-family: 'Sunflower';
                font-size: 2rem;
            }
        }
    }
    .swiper-button-next {
        top:65%;
        right: 14%;
        background: url(../img/next_btn.png) no-repeat;
        background-size: 100% auto;
    }
    .swiper-button-prev {
        top:65%;
        left: 14%;
        background: url(../img/btn.png) no-repeat;
        background-size: 100% auto;
    }
    .swiper-button-next:after {
        display: none;
    }

    .swiper-button-prev:after {
        display: none;
    }
    .swiper-button-next, .swiper-button-prev{
        width: 66px;
        height: 66px;
    }
}
}/* .popular_item end */

/* .news */

.news {
    margin-top: 18rem;
    .inner {
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        gap: 2rem;
       .title_sect {
        font-family: 'Bagel Fat One';
           h4 {
            font-size: 1.8rem;
            margin-bottom: 3rem;
           }
           h1 {
            font-size: 4.5rem;
            margin-bottom: 4.5rem;
            white-space: normal;
            word-break: break-all;
           }
           p {
            font-size: 1.8rem;
            position: relative;
            display: flex;
            align-items: center;
            font-family: 'Sunflower';
            &::after {
                content: url(../img/icons8-원-오른쪽-48.png);
                vertical-align: middle;
                padding: 1rem;
                display: block;
                transition: transform 0.3s ease-in-out;
            }
           }
           p:hover::after {
            animation: shake 0.5s ease-in-out;
          }
          @keyframes shake {
            0%, 100% {
              transform: rotate(0deg);
            }
            25%, 75% {
              transform: rotate(-20deg);
            }
            50% {
              transform: rotate(15deg);
            }
          }
       } 
       .news_list {
        border-bottom: 2px solid #999;
        .news_wrap {
            display: flex;
            align-items: center;
            padding: 20px;
            gap: 1rem;
            border-top: 2px solid #999999;
        }
        .img_sect {
            max-width: 250px;
            width: 50%;
            figure {
                max-height: 150px;
                height: 10.11vw;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .text_sect {
            max-width: 700px;
            width: 60%;
            font-family: 'Sunflower';
            line-height: 1.5;
            p {
                font-size: 2rem;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                word-break: break-all;
            }
        }
       }
    }
}/* .news end */

/* .notice end */

.notice {
    margin-top: 18rem;
    border-top: 1px solid #999;
    padding: 0 40px;
    .inner {
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 22px 0;
        .notice_headline {
            font-size: 1.8rem;
            padding-right: 20px;
            width: 20%;
            span {
                font-weight: bold;
            }
        }
        .notice_body {
            padding: 10px 0 10px 44px;
            border-left: solid 2px #e6e6e6;
            font-size: 1.7rem;
            .notice_txt {
                padding: 10px 0;
                a::before {
                    content: "";
                    display: inline-block;
                    background-image: url( "../img/icons8-원-셰브론-오른쪽-48.png");
                    background-repeat: no-repeat;
                    background-size: 20px 20px;
                    width: 20px;
                    height: 20px;
                    vertical-align: middle;
                    margin-right: 20px;
                }
            }
        }
    }
}/* .notice end */

/* .eshop_banner */

.eshop_banner {
    width: 100vw;
    height: 9.72vw;
    .banner {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}/* .eshop_banner end */

.footer {
    margin-top: 3rem;
    font-family: 'Sunflower';
    .inner {
        max-width: 1440px;
        margin: 0 auto;
        .bottom_nav {
            font-size: 1.8rem;
            .nav {
                display: flex;
                &>li {
                    width: 25%;
                    &:first-child a:before {
                        display: none;
                    }
                    &>a {
                        display: block;
                        margin-bottom: 2rem;
                        text-align: center;
                        position: relative;
                        font-weight: bold;
                        cursor: default;
                        &::before {
                            content: '';
                            position: absolute;
                            left: 0;
                            top: -4;
                            width: 4px;
                            height: 15px;
                            background-color: #E60012;
                        }
                }
               
                .sub_nav {
                    font-size: 1.5rem;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    &>li {
                        padding: 10px 0;
                    }/* .sub_nav end */
                }
            }
        }
    }/* .bottom_nav end */
    .link_btn {
        margin-top: 3.5rem;
        display: flex;
        justify-content: center;
        .my_nintendo {
            margin-right: 2rem;
        }
        img {
            width: 370px;
            height: 60px;
        }
    }/* .link_btn end */
    .sns_btn {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        a {
            padding: 0 1rem;
        }
        img {
            width: 60px;
            height: 60px;
        }
    }/* .sns_btn end */

}/* .inner end */
.footter_wrap {
    background-color: #ececec;
    margin-top: 2rem;
    padding: 30px 175px;
    .inner {
        max-width: 1200px;
        margin: 0 auto;
    .footer_info {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        font-size: 1.6rem;
        .terms {
            width: 50%;
            a{
                display: inline-block;
                position: relative;
                &:not(:last-child) {
                    &::after {
                      content: '|'; 
                      margin: 0 0.5em;
                      color: #E70012;
                    }
                  }
        }
            
        }
        .cs_info {
           .info {
            display: flex;
            justify-content: flex-end;
            margin-top: 0.5rem;
           }
        }
    }
    address {
        font-style: normal;
        font-size: 1.4rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .adress_info {
            display: inline-block;
            margin-top: 1rem;
        }
    }
}
}
}/* .footer end */

/* 반응형 시작 */
@media screen and (max-width:1240px) {
    .header .depth01 {
        font-size: 1.6rem;
    }
    .header .depth01 > a img {
        height: 20px;
    }
    .main_banner .frame_wrap .movie {
        bottom: 5%;
        right: 27%;
    }
    .new_software .title_img h2 {
        font-size: 8rem;
        top:7%;
        left: 34%;
    }

    .new_software .inner .list .big_item::before {
        height: 67%;
    }

    .sale_plan .title_wrap h2 {
        font-size: 8rem;
        top:7%;
        right: 11%;
    }
    .sale_plan .inner .list .item {
        width: calc(1240px / 3 - 20px);
    }

    .popular_item .inner {
        width: 95%;
    }
    .popular_item .title_wrap h2 {
        font-size: 8rem;
        top:2%
    }
    .popular_item .inner .swiper-slide figure {
        height: 13.09vw;
    }
    .popular_item .inner .swiper-button-next, .popular_item .inner .swiper-button-prev {
        width: 55px;
    }
    .popular_item .inner .swiper-button-next {
        right: 4%;
    }
    .popular_item .inner .swiper-button-prev {
        left:4%;
    }

    .news .inner .title_sect h1 {
        margin-bottom: 2.5rem;
        font-size: 2.5rem;
    }
    .news .inner .title_sect{
        padding-left: 2rem;
    }

    .news .inner .news_list .news_wrap {
        gap: 1rem;
    }
    
}/* 1240px */

@media screen and (max-width:1024px) {
    .gnb_pc {
        display: none;
    }

    .mobile {
        display: block;
    }

    .header {
        height: 70px;
        position: relative;
    }
    .mobile-btn {
        display: block;
        position: absolute;
        top:50%;
        left: 2rem;
        transform: translateY(-50%);
    }

    .mobile-btn img {
        width: 40px;
        height: 40px;
    }

    .gnb_mobile {
        display: block;
        width: 100%;
        height: 100%;
        position: fixed;
        top:70px;
        left: 0;
        background-color: #000;
        z-index: 99;
        display: none;
    }

    .gnb_mobile .depth01 {
        padding: 50px;
        border-bottom: 1px solid #fff;
        font-size: 3rem;
        display: none;
    }

    .gnb_mobile .depth01:last-child {
        border-bottom: 0;
    }

    .gnb_mobile .depth01::after {
        content: url(../img/icons8-원-셰브론-아래로-48.png);
        right: 20px;
    }

    .header .depth01 > a img {
        height: 50px;
        margin-right:20px
    }

    .header .depth02 .depth02_wrap {
        justify-content: flex-start;
    }

    .gnb_mobile .depth02_wrap {
        display: none;
        justify-content: flex-start;
    }

    .gnb_mobile .depth02 li >a {
        display: flex;
        align-items: center;
    }

    .button {
        display: block;
        background-color: #cf0010;
        width: 120px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        margin: 2rem auto;
    }

    .button button {
        color: #fff;
    }

    .button button::before {
        content: url(../img/right_btn.png);
        vertical-align: middle;
        margin-right: 0.5rem;


    }

    .cont01 .outer {
        height: 535px;
    }

    .cont01 .outer .outer_logo img {
        height: 110px;
    }

    .cont01 .outer .switch_lite {
        width: 23.83%;
    }

    .cont01 .outer .switch_wrap a :hover img {
        display: none;
    }

    .cont01 .outer .name {
        font-size: 1.8rem;
    }

    .new_software .inner {
        margin: 3rem auto;
    }

    .new_software .mario_img img {
        display: none;
    }
    .mobile .main_banner {
        display: block;
    }

    .mobile .main_banner figure {
        max-height: 370px;
        height: 36.60vw;
    }

    .mobile .main_banner figure img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .main_banner {
        display: none;
    }

    .new_software {
        margin-top: 10rem;
        overflow-x: hidden;
    }

    .new_software .mario_img {
        display: none;
    }

    .new_software .title_img {
        height: 11.04vw;
    }

    .new_software .title_img h2 {
        font-size: 6rem;
        top:22%;
    }

    .new_software .inner .list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .new_software .inner .list .big_item {
        width: 114%;
        height: 31.43vw;
        padding: 0;
        margin-left: 2rem;
    }

    .new_software .inner .list .big_item::before {
        height: 100%;
    }

    .new_software .inner .small_item {
        flex-wrap: wrap;
        gap:2rem;
        margin-left: 2rem;
        justify-content: center;
        margin-top:0
    }

    .new_software .inner .small_item .item {
        width: 176px;
    }

    .new_software .inner a span {
        margin-right: 6rem;
    }

    .new_software .inner .main_text h4 {
        font-size: 1.6rem;
    }

    .new_software .inner .list .text_wrap {
        flex-direction: column;
        gap: 0;
        margin-left: 2rem;
        bottom: 2rem;
        right: 25rem;
    }

    .sale_plan {
        margin-top: 10rem;
        overflow-x: hidden;
    }

    .sale_plan .title_wrap .title_img {
        height: 11.04vw;
    }

    .sale_plan .title_wrap h2 {
        font-size: 6rem;
        top: 22%;
        right: 8%;
    }

    .sale_plan .inner .list .item {
        width: calc(1024px / 3 - 20px);
    }

    .sale_plan .inner .more_view img {
        width: 250px;
    }

    .sale_plan .inner .more_view .more_view_txt span {
        font-size: 2.3rem;
    }

    .sale_plan .inner .list .item:hover img {
        display: none;
    }

    .sale_plan .inner .list .item .title_txt {
        display: block;
        color: #333;
        position: static;
        transform: translateY(0);
        margin-top: 0;
        padding-left: 0
    }

    .sale_plan .inner .list .item .title_txt h4 {
        font-size: 1.8rem;
    }

    .sale_plan .inner .list .item .title_txt .sub_txt_wrap {
        margin-top: 1.5rem;
        font-size: 1.6rem;
    }

    .sale_plan .inner .list .item::before {
        display: none;
    }

    .sale_plan .inner .list .item:hover .title_txt {
        display: none;
    }

    .popular_item {
        margin-top: 10rem;
        overflow-x: hidden;
    }

    .popular_item .title_wrap .title_img {
        height: 11.04vw;
    }

    .popular_item .title_wrap h2 {
        font-size: 6rem;
        top:6%
    }

    .popular_item .inner {
        width: 100%;
    }

    .popular_item .inner .swiper-slide figure {
        height: 18.09vw;
    }
    .popular_item .inner .swiper-slide .name h3 {
        font-size: 1.8rem;
    }

    .popular_item .inner .swiper-button-next {
        right: 2%;
    }

    .popular_item .inner .swiper-button-prev {
        left: 2%;
    }

    .news {
        margin-top: 10rem;
    }

    .news .inner {
        flex-direction: column;
        gap: 0;
    }

    .news .inner .title_sect {
        padding: 0 2rem 0;
    }

    .news .inner .title_sect p::after {
        transition: none;
    }

    .news .inner .title_sect p:hover::after {
        display: none;
    }

    .news .inner .news_list .img_sect figure {
        height: 13.11vw;
    }

    .notice {
        margin-top: 10rem;
    }

    .footer .footter_wrap {
        padding: 30px 110px;
    }

    .footer .footter_wrap .inner .footer_info {
        flex-direction: column;
        gap: 2rem;
    }

    .footer .footter_wrap .inner .footer_info .cs_info .info {
        justify-content: flex-start;
        margin-bottom: 1.5rem;
    }
}/* 1024px */

@media screen and (max-width:960px) {
    .cont01 {
        margin-top: 16rem;
    }
    .cont01 .outer .switch_wrap {
        flex-direction: column;
    }

    .cont01 .outer .switch_oled {
        order: -1;
    }

    .cont01 .outer .switch {
        width: 37.04%;
    }

    .cont01 .outer .switch figure {
        height: 17.5vw;
    }

    .cont01 .outer .switch_lite figure {
        height: 13.5vw;
    }

    .cont01 .outer .switch_lite {
        width: 42.83%;
    }

    .cont01 .outer .switch_lite figure {
        height: 16.83vw;
    }


    .cont01 .outer {
        height: 1300px;
    }

    .new_software {
        margin-top: 7rem;
    }

    .new_software .title_img {
        width: 67.72%;
        height: 11.04vw;
    }

    .new_software .title_img h2 {
        top: 18%;
        left: 35%;
    }

    .new_software .inner {
        margin: 3rem auto;
    }

    .new_software .inner .list .big_item {
        display: none;
    }

    .new_software .inner .small_item .item {
        max-width: 290px;
        width: 30.20%;
    }

    .new_software .inner .small_item .item .main_text h4 {
        margin-top: 1rem;
    }

    .new_software .inner .small_item .item figure {
        max-height: 170px;
        height: 18.02vw;
    }

    .new_software .inner .small_item .item figure img {
        opacity: 1 !important;
    }

    .new_software .inner .small_item .item .main_text {
        display: block;
        color: #333;
    }

    .new_software .inner .small_item .item .sub_wrap {
        display: block;
        color: #333;
    }
    
    .new_software .inner .small_item .item .sub_wrap {
        display: flex;
        justify-content: space-between;
    }
    

    .new_software .inner a span {
        margin-right: 1.8rem;
    }

    .sale_plan {
        margin-top: 7rem;
    }

    .sale_plan .inner {
        margin: 3rem auto;
    }

    .sale_plan .title_wrap .title_img {
        width: 67.72%;
        height: 11.04vw;
    }

    .sale_plan .inner .list .item {
        width: 46.87%
    }

    .sale_plan .inner .list .item figure {
        height: 27.13vw;
    }

    .sale_plan .title_wrap h2 {
        font-size: 6rem;
        top: 18%;
        right: 12%;
    }

    .sale_plan .inner .more_view img {
        width: 230px;
    }

    .popular_item {
        margin-top: 7rem;
    }

    .popular_item .inner {
        margin: 3rem auto;
    }

    .popular_item .title_wrap .title_img {
        width: 67.72%;
        height: 11.04vw;
    }

    .popular_item .title_wrap h2 {
        font-size: 6rem;
        top:5%;
        left: 23%;
    }
    
    .popular_item .inner .swiper-slide figure {
        height: 17.09vw;
    }

    .popular_item .inner .swiper-slide .name h3 {
        font-size: 1.6rem;
    }

    .notice .inner .notice_body .notice_txt {
        font-size: 1.5rem;
    }
}/* 960px */

/* 836px 시작 */
@media screen and (max-width:836px) {
    .new_software .title_img h2 {
        top:14%;
        left: 27%;
    }

    .sale_plan .title_wrap h2 {
        right: 5%;
    }
    .popular_item .title_wrap h2 {
        top:4%;
        left:18%
    }

    .notice .inner .notice_body .notice_txt {
        font-size: 1.4rem;
    }
}

@media screen and (max-width:767px) {
    .main_visual .swiper-horizontal > .swiper-pagination-bullets, .main_visual .swiper-pagination-bullets.swiper-pagination-horizontal, .main_visual .swiper-pagination-custom, .main_visual .swiper-pagination-fraction{
        bottom: -12.5rem;
    }

    .main_visual figure {
        max-height: 800px;
        height: 104.30vw;
    }

    .pc_visual {
        display: none;
    }

    .mobile_visual {
        display: block;
    }

    .main_visual .swiper-pagination-bullet:first-child {
        background: url(../img/어나더코드_아이콘.jpg);
        width: 15.64%;
        max-height: 120px;
        height: 15.64vw;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: none;
        border: 1px solid #333;
    }

    .main_visual .swiper-pagination-bullet:first-child::before {
        border-radius: 50%;
    }
    .main_visual .swiper-pagination-bullet:nth-child(2) {
        background: url(../img/스플래툰3_아이콘.jpg);
        width: 15.64%;
        max-height: 120px;
        height: 15.64vw;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: none;
        border: 1px solid #333;
    }

    .main_visual .swiper-pagination-bullet:nth-child(2)::before {
        border-radius: 50%;
    }

    .main_visual .swiper-pagination-bullet:nth-child(3) {
        background: url(../img/마리오원더브라더스_아이콘.jpg);
        width: 15.64%;
        max-height: 120px;
        height: 15.64vw;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: none;
        border: 1px solid #333;
    }

    .main_visual .swiper-pagination-bullet:nth-child(3)::before {
        border-radius: 50%;
    }

    .main_visual .swiper-pagination-bullet:nth-child(4) {
        background: url(../img/마리오vs동키콩_아이콘.jpg);
        width: 15.64%;
        max-height: 120px;
        height: 15.64vw;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: none;
        border: 1px solid #333;
    }

    .main_visual .swiper-pagination-bullet:nth-child(4)::before {
        border-radius: 50%;
    }

    .main_visual .swiper-pagination-bullet:nth-child(5) {
        background: url(../img/슈퍼마리오RPG_아이콘.jpg);
        width: 15.64%;
        max-height: 120px;
        height: 15.64vw;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: none;
        border: 1px solid #333;
    }

    .main_visual .swiper-pagination-bullet:nth-child(5)::before{
        border-radius: 50%;
    }

    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
        display: flex;
        justify-content: space-between;
    }
    .main_visual .swiper-horizontal > .swiper-pagination-bullets, .main_visual .swiper-pagination-bullets.swiper-pagination-horizontal, .main_visual .swiper-pagination-custom, .main_visual .swiper-pagination-fraction{
        bottom: -13.5rem;
    }

    .new_software .title_img {
        width: 85.72%;
    }

    .new_software .inner .small_item .item {
        width: 39.2%;
    }

    .new_software .inner .small_item .item figure {
        height: 18.02vw;
    }

    .new_software .inner a span {
        display: none;
    }

    .mobilever_btn {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .mobilever_btn button {
        font-size: 1.5rem;
        width: 150px;
        height: 40px;
        border-radius: 15px;
        color: #fff;
        background-color: #e60012;
        margin-top: 3rem;
        position: relative;
    }

    .mobilever_btn button::after {
        display: block;
        content: '';
        background: url(../img/icons8-원-셰브론-오른쪽-64.png);
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top:50%;
        right:27px;
        transform: translateY(-50%);
    }

    .cont01 .outer .switch_oled {
        width: 46.3%;   
    }

    .cont01 .outer .switch_oled figure {
        height: 59.25vw;
    }
    

    .cont01 .outer .switch {
        width: 68.3%
    }

    .cont01 .outer .switch figure {
        height: 32.5vw;
    }

    .cont01 .outer .switch_lite {
        width: 49.83%;
    }

    .cont01 .outer .switch_lite figure {
        height: 21.5vw;
    }

    .sale_plan .title_wrap .title_img {
        width: 85.72%;
    }
    .popular_item .title_wrap .title_img{
        width: 85.72%;
    }

    .popular_item .inner .swiper-slide figure {
        height: 18.09vw;
    }

    .news .inner .news_list .text_sect p {
        font-size: 1.5rem;
    }

    .notice .inner .notice_headline {
        font-size: 1.6rem;
        width: 100%;
        text-align: center;
    }

    .notice .inner {
        flex-direction: column;
    }

    .notice .inner .notice_body {
        border-left: none;
    }

    .footer .inner .bottom_nav .nav {
        flex-direction: column;
        align-items: center;
    }

    .footer .inner .bottom_nav .nav > li > a::before {
        display: none;
    }

    .footer .inner .bottom_nav .nav > li .sub_nav {
        display: none;
    }

    .footer .inner .bottom_nav .nav > li {
        padding: 20px 0;
        border-bottom: 1px solid #333;
        width: 80%;
    }

    .footer .inner .bottom_nav .nav > li > a::after {
        content: '';
        background: url(../img/icons8-원-셰브론-아래로-50.png);
        display: block;
        position: absolute;
        top:0;
        right: 0;
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .footer .inner .bottom_nav .nav > li > a {
        margin-bottom: 0;
        text-align: left;
    }

    .footer .inner .link_btn {
        flex-direction: column;
        align-items: center;
    }

    .footer .inner .link_btn .my_nintendo {
        margin-right: 0;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width:550px) {
    .main_visual .swiper-horizontal > .swiper-pagination-bullets, .main_visual .swiper-pagination-bullets.swiper-pagination-horizontal, .main_visual .swiper-pagination-custom, .main_visual .swiper-pagination-fraction {
        bottom: -10.5rem;
    }
    .cont01 {
        margin-top: 7rem;
    }
    .cont01 .outer {
        height: 1270px;
    }
    .button button {
        font-size: 1.2rem;
    }

    .new_software .inner .small_item .item .main_text h4 {
        font-size: 1.4rem;
    }

    .new_software .title_img {
        width: 104.72%;
        height: 15.04vw;
    }
    .new_software .title_img h2 {
        font-size: 4rem;
        top:23%;
        left: 28%
    }

    .mobilever_btn button {
        font-size: 1.2rem;
    }

    .sale_plan .title_wrap .title_img {
        width: 104.72%;
        height: 15.04vw;
    }

    .sale_plan .title_wrap .title_img img {
        margin-left: -30px;
        width: 115%;
    }
    
    .sale_plan .title_wrap h2 {
        font-size: 4rem;
        top:22%;
        right: 22%;
    }
    .sale_plan .inner .list .item .title_txt h4 {
        font-size: 1.4rem;
    }
    .sale_plan .inner .list .item .title_txt .sub_txt_wrap {
        font-size: 1.2rem;
    }
    .sale_plan .inner .more_view img {
        width: 180px;
    }
    .sale_plan .inner .more_view .more_view_txt span {
        font-size: 1.6rem;
    }
    .popular_item .title_wrap .title_img {
        width: 104.72%;
        height: 15.04vw;
    }
    .popular_item .title_wrap h2 {
        font-size: 4rem;
        top:4%;
        left: 30%;
    }

    .popular_item .inner .swiper-slide {
        max-width: 500px;
    }

    .popular_item .inner .swiper-slide figure {
        height: 50.09vw;
    }

    .popular_item .inner .swiper-button-next {
        top:55%;
    }
    .popular_item .inner .swiper-button-prev {
        top:55%;
    }
    .news .inner .news_list .img_sect figure {
        height: 19.11vw;
    }
    .notice .inner .notice_body .notice_txt a::before {
        margin-right: 0;
    }
    .notice .inner .notice_body .notice_txt {
        font-size: 1.2rem;
    }
    .eshop_banner  {
        height: 18.72vw;
    }
    .footer .footter_wrap {
        padding: 20px 10px;
    }
    .footer .footter_wrap .inner .footer_info {
        font-size: 1.4rem;
    }
    .footer .footter_wrap .inner address {
        font-size: 1.2rem;
    }
}/* 550px */

/* 480px 시작 */
@media screen and (max-width:420px) {
    .cont01 .outer {
        height: 1150px;
    }
    .new_software .title_img h2 {
        top:12%;
        left: 22%;
    }
    .new_software .inner .small_item .item .main_text h4 {
        font-size: 1.2rem;
    }
    .sale_plan .title_wrap h2 {
        top:14%;
        right: 12%;   
    }
    .popular_item .title_wrap h2 {
        top:3%;
        left: 22%;
    }
    .footer .inner .link_btn img {
        width: 300px;
    }

    .notice {
        padding: 0;
    }
    .notice .inner .notice_body {
        padding: 0 0 0 0;
    }
    .footer .inner .sns_btn img {
        width: 40px;
        height: 40px;
    }
    .footer .footter_wrap .inner .footer_info .terms {
        width: 100%;
    }
    .footer .inner .bottom_nav .nav > li > a {
        font-size: 1.4rem;
    }
    .footer .inner .bottom_nav .nav > li > a::after {
        width: 25px;
        height: 25px;
    }
    .footer .footter_wrap {
        padding: 20px 0;
    }
    .footer .footter_wrap .inner address .adress_info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }
    .footer .footter_wrap .inner .footer_info {
        font-size: 1.2rem;
    }
}

@media screen and (max-width:380px) {
    .cont01 .outer {
        height: 1050px;
    }
    .cont01 .outer .outer_logo img {
        width: 100px;
    }
    .cont01 .outer .outer_logo img {
        height: 80px;
    }
    .new_software .title_img h2 {
        font-size: 3rem;
        top:22%;
        left: 27%;
    }
    .sale_plan .title_wrap h2 {
        font-size: 3rem;
        top:19%;
        right: 19%;
    }
    .popular_item .title_wrap h2 {
        font-size: 3rem;
        top:4%;
        left: 24%;
    }
}

@media screen and (max-width:320px) {
    .new_software .title_img h2 {
        top:19%;
        left: 23%;
    }
    .sale_plan .title_wrap h2 {
        right: 14%;
    }

    .popular_item .title_wrap h2 {
        top:3%;
    }

}