@charset "UTF-8";
@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Moirai+One&family=Sunflower:wght@300&display=swap");
/* font-family: 'Bagel Fat One'; */
@import url("https://fonts.googleapis.com/css2?family=Moirai+One&family=Sunflower:wght@300&display=swap");
/* font-family: 'Sunflower'; */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
html, body {
  font-size: 62.35%; /* 10px */
}

body {
  line-height: 1;
  color: #333;
}

.mobile {
  display: none;
}

.header .header_top {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e60012;
}
.header h1 img {
  height: 40px;
}
.header .gnb_pc {
  height: 50px;
  background-color: #000;
  position: relative;
  z-index: 99;
}
.header .gnb_pc header.on .gnb_pc {
  background-color: rgb(255, 255, 255);
}
.header .gnb_pc .gnb {
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .depth01 {
  display: flex;
  font-size: 2rem;
  font-family: "Sunflower";
  font-weight: 600;
}
.header::before {
  content: "";
  width: 100%;
  height: 300px;
  background-color: #dbdbdb;
  display: none;
  position: absolute;
  top: 150px;
  left: 0;
}
.header .depth01:hover a {
  color: #e60012;
}
.header .depth01 a {
  display: block;
  color: #ffffff;
}
.header .depth01 > a img {
  height: 25px;
  margin-right: 10px;
  vertical-align: middle;
}
.header .depth01 a span {
  vertical-align: middle;
}
.header .depth02 {
  max-width: 1440px;
  height: 100%;
  font-family: "Pretendard-Regular";
  font-weight: normal;
  z-index: 999;
  display: none;
}
.header .depth02 li a {
  width: 250px;
  text-align: center;
  padding-right: 50px;
  display: block;
}
.header .depth02 li a img {
  height: 120px;
}
.header .depth02 .depth02_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
  background-color: #fff;
  border: 1px solid #333;
}
.header .thumb {
  padding: 10px;
}
.header .depth02 span {
  color: #333;
  display: block;
  text-align: center;
  padding: 5px;
}
.header .depth02 .title {
  color: #333;
  width: 100%;
  display: -webkit-box; /* 박스 방향 설정/ 말줄임표 쓸때만 사용 */
  -webkit-box-orient: vertical; /* 박스 방향 설정 : 수직 */
  -webkit-line-clamp: 1; /* 박스안에 보여주고자 하는 라인 수 : 숫자 */
  overflow: hidden; /* 나머지 텍스트 숨김처리 */
}
.header .title::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #333;
  position: absolute;
  top: 250px;
  left: 0;
  display: block;
}
.header .depth02 .status {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  color: #c5c5c5;
}
.header .depth02 .status span {
  display: block;
  color: #c5c5c5;
}
.header .depth02 .text {
  color: #333;
  margin-top: 10px;
}
.header .depth02 .depth02_bottom {
  width: 100%;
  position: absolute;
  bottom: 17px;
  left: 50%;
}
.header .depth02 .depth02_bottom a {
  display: block;
  font-size: 1.5rem;
  vertical-align: middle;
  color: #333;
}
.header .depth02 .depth02_bottom img {
  height: 15px;
  vertical-align: middle;
}

/* .header end */
/* main */
.main_visual {
  position: relative;
  margin-bottom: 15rem;
}
.main_visual figure {
  height: 100%;
}
.main_visual figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main_visual .mySwiper {
  position: static;
}
.main_visual .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .main_visual .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}
.main_visual .swiper-horizontal > .swiper-pagination-bullets, .main_visual .swiper-pagination-bullets.swiper-pagination-horizontal, .main_visual .swiper-pagination-custom, .main_visual .swiper-pagination-fraction {
  bottom: -103px;
}
.main_visual .swiper-pagination-bullet {
  width: calc(20% - 20px);
  max-height: 200px;
  height: 10.41vw;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #333;
  position: relative;
}
.main_visual .swiper-pagination-bullet-active::before {
  display: none;
}
.main_visual .swiper-pagination-bullet:first-child {
  background: url(../img/어나더코드_아이콘.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
}
.main_visual .swiper-pagination-bullet:first-child::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(219, 219, 219, 0.514);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  overflow: hidden;
}
.main_visual .swiper-pagination-bullet:nth-child(2) {
  background: url(../img/스플래툰3_아이콘.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
}
.main_visual .swiper-pagination-bullet:nth-child(2)::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(219, 219, 219, 0.514);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  overflow: hidden;
}
.main_visual .swiper-pagination-bullet:nth-child(3) {
  background: url(../img/슈퍼마리오브라더스원더.png);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
}
.main_visual .swiper-pagination-bullet:nth-child(3)::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(219, 219, 219, 0.514);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  overflow: hidden;
}
.main_visual .swiper-pagination-bullet:nth-child(4) {
  background: url(../img/마리오vs동키콩.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
}
.main_visual .swiper-pagination-bullet:nth-child(4)::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(219, 219, 219, 0.514);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  overflow: hidden;
}
.main_visual .swiper-pagination-bullet:nth-child(5) {
  background: url(../img/슈퍼마리오RPG_아이콘.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
}
.main_visual .swiper-pagination-bullet:nth-child(5)::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(219, 219, 219, 0.514);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  overflow: hidden;
}

/* .main end */
/* cont01 */
.cont01 {
  margin-top: 18rem;
}
.cont01 .outer {
  background-color: #e60012;
  height: 600px;
}
.cont01 .outer .outer_logo {
  position: absolute;
  right: 0;
}
.cont01 .outer .outer_logo img {
  width: 135px;
}
.cont01 .outer .inner {
  max-width: 1440px;
  margin: 0 auto;
}
.cont01 .outer .switch_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  overflow: hidden;
}
.cont01 .outer .switch_wrap figure {
  max-height: 180px;
  height: 9.72vw;
}
.cont01 .outer .switch_wrap figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s;
}
.cont01 .outer .switch_wrap a :hover img {
  transition: all 0.5s;
  transform-origin: center;
  transform: scale(1.1);
  filter: drop-shadow(4px 4px 4px rgba(255, 255, 255, 0.729));
}
.cont01 .outer .switch_oled {
  order: 1;
}
.cont01 .outer .switch_oled figure {
  max-height: 450px;
  height: 35.25vw;
}
.cont01 .outer .switch_oled figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cont01 .outer .switch_lite {
  order: 2;
}
.cont01 .outer .name {
  margin-top: 4rem;
  font-family: "Sunflower";
  text-align: center;
  font-size: 2rem;
  color: #fff;
}

/* .cont01 end */
/* main_banner */
.main_banner .banner_wrap {
  max-width: 1920px;
  position: relative;
}
.main_banner .main_bg {
  height: 102.8vw;
  position: relative;
}
.main_banner .main_bg img {
  width: 100vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main_banner .namida {
  max-width: 150px;
  width: 6.8%;
  height: 10.25vw;
  position: absolute;
  top: 21.5%;
  left: 21.5%;
  right: auto;
  bottom: auto;
}
.main_banner .namida .active {
  opacity: 1;
  transform: translateY(0);
}
.main_banner .namida span {
  display: block;
}
.main_banner .namida img {
  -o-object-position: top;
     object-position: top;
  width: 100%;
}
.main_banner .main_title {
  max-width: 690px;
  width: 47.91%;
  position: absolute;
  top: 20rem;
  right: 3rem;
}
.main_banner .main_title img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main_banner .main_btn {
  max-width: 600px;
  width: 35.4%;
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translateY(-50%);
}
.main_banner .main_btn img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main_banner .main_btn a:first-child img {
  margin-bottom: 2rem;
}
.main_banner .trial_btn {
  max-width: 280px;
  width: 19.58%;
  height: 16.23vw;
  position: absolute;
  bottom: 13%;
  left: 35%;
}
.main_banner .trial_btn img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main_banner .frame_wrap .main_frame {
  position: relative;
  max-width: 530px;
  width: 29.8%;
  height: 10.93vw;
  position: absolute;
  bottom: 5rem;
  right: 5rem;
}
.main_banner .frame_wrap .main_frame img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main_banner .frame_wrap .movie {
  max-width: 230px;
  /*         width: 13.02%;
          height: 10.41vw; */
  height: 8.33vw;
  position: absolute;
  top: auto;
  left: auto;
  bottom: 2.3%;
  right: 15%;
}
.main_banner .frame_wrap .movie span {
  display: block;
}
.main_banner .frame_wrap .movie img {
  -o-object-position: top;
     object-position: top;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* .main_banner end */
.new_software {
  position: relative;
  margin-top: 18rem;
  /* .inner */
}
.new_software .title_img {
  max-width: 1000px;
  width: 67.72%;
  height: 6.04vw;
}
.new_software .title_img img {
  width: 100%;
}
.new_software .title_img h2 {
  font-size: 12em;
  color: #FFF;
  font-family: "Bagel Fat One";
  position: absolute;
  top: 3%;
  left: 22%;
}
.new_software .mario_img {
  max-width: 377px;
  width: 20%;
  height: 19.25vw;
  position: absolute;
  top: -6%;
  left: 0;
  z-index: 99;
}
.new_software .mario_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: rotate(-30deg);
}
.new_software .inner {
  max-width: 1440px;
  margin: 8rem auto;
}
.new_software .inner a span {
  display: flex;
  justify-content: flex-end;
  margin: 2rem;
  font-size: 1.8rem;
}
.new_software .inner .list {
  font-family: "Sunflower";
  color: #fff;
}
.new_software .inner .list .big_item {
  position: relative;
  width: 100%;
  height: 30.43vw;
  border: 10px solid #fff;
  box-shadow: 1px -3px 5px #999;
  border-radius: 15px;
  overflow: hidden;
}
.new_software .inner .list .big_item figure {
  height: 100%;
}
.new_software .inner .list .big_item figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.new_software .inner .list .big_item::before {
  content: "";
  width: 100%;
  height: 40%;
  background: rgb(2, 0, 36);
  background: linear-gradient(362deg, rgb(2, 0, 36) 0%, rgba(0, 0, 0, 0.733) 35%, rgba(255, 255, 255, 0.336) 100%);
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}
.new_software .inner .list .text_wrap {
  position: absolute;
  bottom: 4rem;
  right: 7rem;
}
.new_software .inner .main_text h4 {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
  line-height: 1.5;
}
.new_software .inner .sub_wrap {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.new_software .inner .sub_wrap .sub_text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.new_software .inner .sub_wrap .sub_text span {
  display: block;
  font-size: 14px;
  line-height: 15px;
}
.new_software .inner .sub_wrap .util_icon {
  width: 34px;
}
.new_software .inner .sub_wrap .util_icon img {
  width: 100%;
}
.new_software .inner .small_item {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}
.new_software .inner .small_item .item {
  width: 220px;
}
.new_software .inner .small_item .item:first-child img {
  opacity: 1;
}
.new_software .inner .small_item .item figure {
  max-height: 130px;
  height: 9.02vw;
}
.new_software .inner .small_item .item figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.3;
}
.new_software .inner .small_item .item .main_text {
  display: none;
}
.new_software .inner .small_item .item .main_text h4 {
  font-size: 1.6rem;
}
.new_software .inner .small_item .item .sub_wrap {
  display: none;
}

/* .new_software end */
/* .sale_plan */
.sale_plan {
  position: relative;
  margin-top: 18rem;
}
.sale_plan .title_wrap {
  display: flex;
  justify-content: flex-end;
}
.sale_plan .title_wrap .title_img {
  max-width: 1000px;
  width: 67.72%;
  height: 6.04vw;
}
.sale_plan .title_wrap .title_img img {
  width: 100%;
}
.sale_plan .title_wrap h2 {
  font-size: 12em;
  color: #FFF;
  font-family: "Bagel Fat One";
  position: absolute;
  top: 3%;
  right: 13%;
}
.sale_plan .inner {
  max-width: 1440px;
  width: calc(100% - 30px);
  margin: 8rem auto;
}
.sale_plan .inner .list {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sale_plan .inner .list .item {
  /* width:510px */
  width: 460px;
  position: relative;
  overflow: hidden;
  margin-top: 2rem;
}
.sale_plan .inner .list .item::before {
  content: "";
  width: 100%;
  height: 70%;
  background-color: rgba(0, 0, 0, 0.479);
  position: absolute;
  bottom: -1px;
  left: 0;
  border-radius: 0 0 15px 15px;
  overflow: hidden;
  transform: translateY(100%);
  transition: all 1s;
  z-index: 9;
}
.sale_plan .inner .list .item figure {
  max-height: 290px;
  height: 20.13vw;
  border-radius: 15px;
  overflow: hidden;
}
.sale_plan .inner .list .item figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sale_plan .inner .list .item .title_txt {
  margin-top: 1.4rem;
  position: absolute;
  bottom: 0;
  left: 2rem;
  padding: 20px;
  font-family: "Sunflower";
  color: #fff;
  transform: translateY(100%);
  overflow: hidden;
  z-index: 10;
}
.sale_plan .inner .list .item .title_txt h4 {
  font-size: 2rem;
}
.sale_plan .inner .list .item .title_txt .sub_txt_wrap {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.8rem;
}
.sale_plan .inner .list .item:hover img {
  transform: scale(1.1);
  transition: all 0.5s;
}
.sale_plan .inner .list .item:hover::before {
  transform: translateY(0);
  transition: all 1s;
}
.sale_plan .inner .list .item:hover .title_txt {
  transform: translateY(0);
  transition: all 1s;
}
.sale_plan .inner .more_view {
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 3rem;
  position: relative;
}
.sale_plan .inner .more_view img {
  width: 100%;
  vertical-align: middle;
}
.sale_plan .inner .more_view .more_view_txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Sunflower";
}
.sale_plan .inner .more_view .more_view_txt span {
  display: block;
  font-size: 2rem;
  color: #fff;
  vertical-align: middle;
}
.sale_plan .inner .more_view .more_view_txt span::after {
  content: url(../img/right_btn.png);
  padding-left: 0.5rem;
}

/* .sale_paln end */
/* popular_item */
.popular_item {
  position: relative;
  margin-top: 18rem;
}
.popular_item .title_wrap .title_img {
  max-width: 1000px;
  width: 67.72%;
  height: 6.04vw;
}
.popular_item .title_wrap .title_img img {
  width: 100%;
}
.popular_item .title_wrap h2 {
  font-size: 12em;
  color: #FFF;
  font-family: "Bagel Fat One";
  position: absolute;
  top: 8%;
  left: 13%;
}
.popular_item .inner {
  max-width: 1440px;
  margin: 8rem auto;
}
.popular_item .inner .swiper {
  width: 80%;
}
.popular_item .inner .popular {
  position: static;
}
.popular_item .inner .swiper-pagination-bullets {
  display: none;
}
.popular_item .inner .swiper-slide {
  max-width: 350px;
  width: 24.3%;
}
.popular_item .inner .swiper-slide figure {
  max-height: 275px;
  height: 11.09vw;
  border-radius: 15px;
  overflow: hidden;
}
.popular_item .inner .swiper-slide figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.popular_item .inner .swiper-slide .name {
  margin-top: 2rem;
  text-align: center;
}
.popular_item .inner .swiper-slide .name h3 {
  font-family: "Sunflower";
  font-size: 1.8rem;
}
.popular_item .inner .swiper-button-next {
  top: 64%;
  right: 17%;
  background: url(../img/btn.png) no-repeat;
  background-size: 100% auto;
  transform: rotate(180deg);
}
.popular_item .inner .swiper-button-prev {
  top: 64%;
  left: 17%;
  background: url(../img/btn.png) no-repeat;
  background-size: 100% auto;
}
.popular_item .inner .swiper-button-next:after {
  display: none;
}
.popular_item .inner .swiper-button-prev:after {
  display: none;
}
.popular_item .inner .swiper-button-next, .popular_item .inner .swiper-button-prev {
  width: 66px;
  height: 66px;
}

/* .popular_item end */
/* .news */
.news {
  margin-top: 18rem;
}
.news .inner {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 10rem;
}
.news .inner .title_sect {
  font-family: "Bagel Fat One";
}
.news .inner .title_sect h4 {
  font-size: 1.8rem;
  margin-bottom: 3rem;
}
.news .inner .title_sect h1 {
  font-size: 4.5rem;
  margin-bottom: 4.5rem;
}
.news .inner .title_sect p {
  font-size: 1.8rem;
  position: relative;
  display: flex;
  align-items: center;
  font-family: "Sunflower";
}
.news .inner .title_sect p::after {
  content: url(../img/icons8-원-오른쪽-48.png);
  vertical-align: middle;
  padding: 1rem;
  display: block;
  transition: transform 0.3s ease-in-out;
}
.news .inner .title_sect p:hover::after {
  animation: shake 0.5s ease-in-out;
}
@keyframes shake {
  0%, 100% {
    transform: rotate(0deg);
  }
  25%, 75% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(15deg);
  }
}
.news .inner .news_list {
  border-bottom: 2px solid #999;
}
.news .inner .news_list .news_wrap {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 3rem;
  border-top: 2px solid #999999;
}
.news .inner .news_list .img_sect {
  width: 51.2%;
}
.news .inner .news_list .img_sect figure {
  max-height: 160px;
  height: 11.11vw;
}
.news .inner .news_list .img_sect figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news .inner .news_list .text_sect {
  width: 100%;
  font-family: "Sunflower";
  line-height: 1.5;
}
.news .inner .news_list .text_sect p {
  font-size: 1.6rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

/* .news end */
/* .notice end */
.notice {
  margin-top: 18rem;
  border-top: 1px solid #999;
  padding: 0 40px;
}
.notice .inner {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 0;
}
.notice .inner .notice_headline {
  font-size: 1.8rem;
  padding-right: 20px;
  width: 20%;
}
.notice .inner .notice_body {
  padding: 10px 0 10px 44px;
  border-left: solid 2px #e6e6e6;
  font-size: 1.7rem;
}
.notice .inner .notice_body .notice_txt {
  padding: 10px 0;
}
.notice .inner .notice_body .notice_txt a::before {
  content: "";
  display: inline-block;
  background-image: url("../img/icons8-원-셰브론-오른쪽-48.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 20px;
}

/* .notice end */
/* .eshop_banner */
.eshop_banner {
  width: 100vw;
  height: 9.72vw;
}
.eshop_banner .banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* .eshop_banner end */
.footer {
  margin-top: 3rem;
  font-family: "Sunflower";
  /* .inner end */
}
.footer .inner {
  max-width: 1440px;
  margin: 0 auto;
  /* .bottom_nav end */
  /* .link_btn end */
  /* .sns_btn end */
}
.footer .inner .bottom_nav {
  font-size: 1.8rem;
}
.footer .inner .bottom_nav .nav {
  display: flex;
}
.footer .inner .bottom_nav .nav > li {
  width: 25%;
}
.footer .inner .bottom_nav .nav > li:first-child a:before {
  display: none;
}
.footer .inner .bottom_nav .nav > li > a {
  display: block;
  margin-bottom: 2rem;
  text-align: center;
  position: relative;
  font-weight: bold;
  cursor: default;
}
.footer .inner .bottom_nav .nav > li > a::before {
  content: "";
  position: absolute;
  left: 0;
  top: -4;
  width: 4px;
  height: 15px;
  background-color: #E60012;
}
.footer .inner .bottom_nav .nav > li .sub_nav {
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* .sub_nav end */
}
.footer .inner .bottom_nav .nav > li .sub_nav > li {
  padding: 10px 0;
}
.footer .inner .link_btn {
  margin-top: 3.5rem;
  display: flex;
  justify-content: center;
}
.footer .inner .link_btn .my_nintendo {
  margin-right: 2rem;
}
.footer .inner .link_btn > img {
  width: 370px;
  height: 60px;
}
.footer .inner .sns_btn {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.footer .inner .sns_btn a {
  padding: 0 1rem;
}
.footer .inner .sns_btn img {
  width: 60px;
  height: 60px;
}
.footer .inner .footter_wrap {
  background-color: #e1e1e1;
  margin-top: 2rem;
  padding: 30px 175px;
}
.footer .inner .footter_wrap .terms {
  width: 50%;
}
.footer .inner .footter_wrap .terms a {
  display: inline-block;
  position: relative;
}
.footer .inner .footter_wrap .terms a::before {
  position: absolute;
  left: 0;
  top: -4;
  width: 5px;
  height: 15px;
  background-color: #333;
  display: block;
}
.footer .inner .footter_wrap .footer_info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.6rem;
}
.footer .inner .footter_wrap .footer_info .cs_info .info {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}
.footer .inner .footter_wrap address {
  font-style: normal;
  font-size: 1.4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer .inner .footter_wrap address .adress_info {
  display: inline-block;
  margin-top: 1rem;
}

/* .footer end */
/* 반응형 시작 */
@media screen and (max-width: 1240px) {
  .header .depth01 {
    font-size: 1.6rem;
  }
  .header .depth01 > a img {
    height: 20px;
  }
  .main_banner .frame_wrap .movie {
    bottom: 5%;
    right: 14%;
  }
  .new_software .title_img h2 {
    font-size: 8rem;
  }
  .new_software .inner .list .big_item::before {
    height: 67%;
  }
  .sale_plan .title_wrap h2 {
    font-size: 8rem;
  }
  .sale_plan .inner .list .item {
    width: 390px;
  }
  .popular_item .inner {
    width: 95%;
  }
  .popular_item .title_wrap h2 {
    font-size: 8rem;
  }
  .popular_item .inner .swiper-slide figure {
    height: 13.09vw;
  }
  .popular_item .inner .swiper-button-next, .popular_item .inner .swiper-button-prev {
    width: 55px;
  }
  .popular_item .inner .swiper-button-next {
    top: 64%;
    right: 0;
  }
  .popular_item .inner .swiper-button-prev {
    top: 64%;
    left: 0;
  }
}/*# sourceMappingURL=style.css.map */